html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(174,238,205);
background: radial-gradient(circle, rgba(174,238,205,1) 0%, rgba(142,189,245,1) 100%);
    background-repeat: none;
    font-family: 'Poppins', sans-serif;
}
.welcome{
    text-align: center;
}
.contenedor{
    margin-top: 15%;
    margin-left: 30%;
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    position: relative;
    display: inline-block;
  }
  
  /* Crea un efecto de escritura en el título */
  .typing::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 25px;
    background-color: black;
    animation: blink 0.7s infinite;
    bottom: 0;
    right: 0;
  }
  
  /* Animación del cursor */
  @keyframes blink {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.num{
    background-color: rgba(255, 255, 255, 0.336);
    border: 1px;
    text-align: center;
}
#currentBase{
    background-color: rgba(255, 255, 255, 0.24);
    border: none;
    text-align: center;
    border-radius: 5px;
}
#desiredBase{
    background-color: rgba(255, 255, 255, 0.24);
    border: none;
    text-align: center;
    border-radius: 5px;
}
.convert{
    margin-top: 1%;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    border: none;
}
#result{
    text-transform: uppercase;
}
footer {
    background-color: rgba(51, 51, 51, 0.075);
    color: #fff;
    text-align: center;
    padding: 3px;
    margin-top: 4.2%;
    width: 100%;
  }
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .contenedor {
        margin-left: 10%;
        width: 80%;
        height: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .contenedor {
        margin-left: 30%;
        width: 700px;
        height: 300px;
    }
}
